{% extends 'core/base.html' %}
{% block content %}

<ul>
    <li><h3>{{ movie.name }}</h3></li>
    <li>Жанр: {{ movie.genre }}</li>
    <li><img src="{{ movie.poster }}"></li>
    <li>{{ movie.description }}</li>
</ul>

{% if user.is_authenticated %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
{% else %}
    <h3><a target="_blank" href="{% url 'register' %}">Зарегистрируйтесь</a>, чтобы оставить отзыв</h3>
{% endif %}

<h4>----------Отзывы----------</h4>
<ul>
    {% for review in reviews %}
        <li>
            <strong>{{ review.user }}</strong>
            <p>{{ review.comment }}</p>
            <h5>{{ review.date_created }}</h5>
        </li>
    {% endfor %}
</ul>

{% endblock %}